/* GENERAL SLIDES */

.remark-slide-content h1 {
    font-size: 30px;
    color: #8C3031;
}

.remark-slide-content {
    font-size: 18px;
    line-height: 1.6;
}

/* bullet list */

ul li { 
    padding: 15px 0px;
}

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

.hljs-github .hljs {
    background: red;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}

/*
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*Inline code --*/

/*-- In-line highlighting within text --*/
.remark-code, .remark-inline-code {
  font-size:          90%;
  font-weight:        400;
  color:              #231F20;
  background:         #E8EDEE;
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
}

.remark-code {
    font-size: 60%;
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8;
}


/*  VIDEO SLIDES  (thanks to Andy Field  https://stackoverflow.com/questions/58381602/background-video-in-xaringan-slides) */

#my_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

/* SECTION SLIDE */

.section {
  background-color: #8C3031;
  color: white;
  text-shadow: 0 0 0px #333;
}

.section h1, .inverse h2, .inverse h3 {
  color: #F0F3F4;
  font-size: 40px;
}

.section .remark-slide-number {
  display: none;
}

/* RECAP SLIDE */

.recap {
  background-color: #5959E3;
  color: white;
  text-shadow: 0 0 0px #333;
}

.recap h1, .recap h2, .recap h3 {
  color: white;
  font-size: 40px;
}

.recap .remark-slide-number {
  display: none;
}

/* TITLE SLIDE */

.title-slide {
    /*background:linear-gradient(180deg, #8C3031 25%,white 25%)*/
    border-top: 90px solid #8C3031;
}

.title {
    font-size: 60px;
    margin-top: -100px;
}

.subtitle {
  font-size: 30px;
}

.author {
  color: #3B3B3B;
  font-size: 20px;
}

.location {
  color: #3B3B3B;
  font-size: 20px;
}

.title-slide .remark-slide-number {
  display: none;
}

/* Questions SLIDE */

.questions {
    background-color: #1F618D;
}

.questions .remark-slide-number {
  display: none;
}

.questions h1 {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 0px #333;
}

/* TEXT COLORS */

.imp {
  color: #8C3031;
  font-weight: bold;
}

.blue {
  color: #2980B9;
  font-weight: bold;
}

.green {
  color: #17A589;
  font-weight: bold;
}

.yellow {
  color: #F5B041;
  font-weight: bold;
}

.hljs-github .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8;
}

/* Resize */

.font90 {
  font-size: 90%;
}


.font80 {
  font-size: 80%;
}


.font70 {
  font-size: 70%;
}


.font60 {
  font-size: 60%;
}


.font50 {
  font-size: 50%;
}


.font40 {
  font-size: 40%;
}

div, iframe {
    margin: 0 auto;
}

iframe {
    display: block;
    border-style:none;
}

/* thanks to https://github.com/arca-dpss/course-R-Rmarkdown/blob/main/files/slides/assets/custom-presentation.css */

blockquote {
  border-left: 5pt solid #8C3031;
  border-radius: 5pt;
  padding-left: 10pt;
  font-size: 18pt;
  color: #403d3d;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 70%;
  border-left: 5pt solid #AEAEAE;
  border-radius: 5pt;
  padding-left: 10pt;
}